name: CI

on: [push]

jobs:
  style_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: "Install style checker"
        run: pip install black
      - name: "Run style check"
        run: black --check .
  
  test:
    # needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: "Install pytest and coverage"
        run: pip install pytest matplotlib numpy coverage
      - name: "Run pytest"
        run: python -m pytest
      - name: "Run coverage"
        run: python -m coverage
  
  coverage_report:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          retention-days: 14
      - name: "Install coverage"
        run: pip install coverage
      - name: "Convert coverage to xml"
        run: python -m coverage xml
        
      
